{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/confirmation/header.png",
      "fileBody" : "/interface/confirmation/body.png",
      "fileFooter" : "/interface/confirmation/footer.png"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/confirmation/shine.png",
      "position" : [0, 20],
      "zlevel" : -1
    },
    "windowtitle" : {
      "type" : "title",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "close" : {
		"callback": "buttonClickEvent",
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [220, 132]
    },
    "message" : {
      "type" : "label",
      "position" : [60, 119],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 173,
      "lineSpacing" : 1.0,
      "color" : "white"
    },
    "portrait" : {
      "type" : "image",
      "file" : "",
      "position" : [30, 90],
      "scale" : 1.5,
      "centered" : true
    },
    "name" : {
      "type" : "label",
      "position" : [27, 52],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "wrapWidth" : 50,
      "color" : "white"
    }
  }
  
  ,"scriptWidgetCallbacks" : [
	"buttonClickEvent"
  ],

  "scripts" : ["/interface/scripted/vsochoice/vsochoice.lua"],
  "scriptDelta" : 5
}
