{
	"openWithInventory" : true,

	"gui" : {
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileHeader" : "/interface/scripted/spovpillstation/header.png",
			"fileBody" : "/interface/scripted/spovpillstation/body.png",
			"fileFooter" : "/interface/scripted/spovpillstation/footer.png"
		},

		"windowtitle" : {
			"type" : "title",
			"title" : " SPOV Enhancer",
			"subtitle" : " Enhance your SPOVs here!",
			"icon" : {
				"type" : "image",
				"file" : "/objects/vore/spov/spovpillstation/spovpillstationicon.png",
				"zlevel" : -1
			}
		},

		"itemScrollArea" : {
			"type" : "scrollArea",
			"rect" : [5, 62, 174, 215],
			"children" : {
				"itemList" : {
					"type" : "list",
					"callback" : "itemSelected",
					"schema" : {
						"selectedBG" : "/interface/scripted/spovpillstation/listitem.png:selected",
						"unselectedBG" : "/interface/scripted/spovpillstation/listitem.png:unselected",
						"spacing" : [0, 1],
						"memberSize" : [156, 30],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/scripted/spovpillstation/listitem.png:unselected",
								"position" : [0, 0],
								"zlevel" : -1
							},
							"itemName" : {
								"type" : "label",
								"position" : [22, 28],
								"hAnchor" : "left",
								"vAnchor" : "top",
								"wrapWidth" : 116,
								"lineSpacing" : 1.05,
								"value" : "Replace Me"
							},
							"itemIcon" : {
								"type" : "image",
								"position" : [10, 20],
								"centered" : true
							},
							"itemSubtitle" : {
								"type" : "label",
								"position" : [22, 20],
								"hAnchor" : "left",
								"vAnchor" : "top",
								"color" : "gray",
								"wrapWidth" : 116,
								"lineSpacing" : 1.05,
								"value" : "Replace Me"
							},
							"itemLowerLeft" : {
								"type" : "label",
								"position" : [22, 10],
								"hAnchor" : "left",
								"vAnchor" : "top",
								"wrapWidth" : 116,
								"lineSpacing" : 1.05,
								"value" : "Replace Me"
							}
						}
					}
				}
			}
		},

		"pillScrollArea" : {
			"type" : "scrollArea",
			"rect" : [189, 99, 359, 215],
			"children" : {
				"pillList" : {
					"type" : "list",
					"callback" : "pillSelected",
					"schema" : {
						"selectedBG" : "/interface/scripted/spovpillstation/pillitem.png:selected",
						"unselectedBG" : "/interface/scripted/spovpillstation/pillitem.png:unselected",
						"spacing" : [0, 1],
						"memberSize" : [156, 30],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/scripted/spovpillstation/pillitem.png:unselected",
								"position" : [0, 0],
								"zlevel" : -1
							},
							"itemName" : {
								"type" : "label",
								"position" : [22, 28],
								"hAnchor" : "left",
								"vAnchor" : "top",
								"wrapWidth" : 116,
								"lineSpacing" : 1.05,
								"value" : "Replace Me"
							},
							"itemIcon" : {
								"type" : "image",
								"position" : [10, 20],
								"centered" : true
							},
							"itemDescription" : {
								"type" : "label",
								"position" : [22, 18],
								"hAnchor" : "left",
								"vAnchor" : "top",
								"wrapWidth" : 135,
								"lineSpacing" : 1.05,
								"value" : "Replace Me"
							}
						}
					}
				}
			}
		},

		"pillInput" : {
			"type" : "itemslot",
			"position" : [236, 60],
			"backingImage" : "/interface/scripted/spovpillstation/emptypill.png",
			"callback" : "swapItem",
			"rightClickCallback" : "null"
		},

		"enhanceButton" : {
			"type" : "button",
			"position" : [258, 62],
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"disabledImage" : "/interface/buttongrayed.png",
			"caption" : "Enhance",
			"callback" : "doEnhance"
		},
		"cancel" : {
			"type" : "button",
			"position" : [59, 30],
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"caption" : "Quit",
			"callback" : "close"
		},
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"position" : [346, 242]
		},

		"emptyLabel" : {
			"type" : "label",
			"position" : [90, 150],
			"hAnchor" : "mid",
			"value" : "You don't have any SPOVs to enhance!",
			"wrapWidth" : 125,
			"color" : [185, 181, 178]
		},
		"pillUnselectedLabel" : {
			"type" : "label",
			"position" : [275, 150],
			"hAnchor" : "mid",
			"value" : "Select a SPOV to see its pill effects.",
			"wrapWidth" : 125,
			"color" : [185, 181, 178]
		},
		"pillEmptyLabel" : {
			"type" : "label",
			"position" : [275, 150],
			"hAnchor" : "mid",
			"value" : "This SPOV doesn't have any pill effects!",
			"visible" : false,
			"wrapWidth" : 125,
			"color" : [185, 181, 178]
		},
		"pillAttemptLabel" : {
			"type" : "label",
			"position" : [274, 32],
			"hAnchor" : "mid",
			"value" : "",
			"wrapWidth" : 125,
			"color" : [185, 181, 178]
		}
	},

	"scriptWidgetCallbacks" : [
		"itemSelected",
		"pillSelected",
		"swapItem",
		"doEnhance"
	],

	"scripts" : ["/interface/scripted/spovpillstation/spovpillstationgui.lua"],
	"scriptDelta" : 15,

	"defaultPillIcon" : "/items/spov/pills/spovpillgeneric.png"
}
