{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Lucario", "Lulu", "Skipper", "Jackle", "Rinehart", "Carrie", "Cornell", "Henry", "Peanut", "Muramasa", "Tera", "Nippers", "Honey", "Melon", "Pepper", "Peppermint", "Fluffers", "Willow", "Peaches", "Nibbles", "Marrow", "Muffin", "Dutchess", "Daisy", "Terrot", "Yuki", "Rip", "Vinkle" ]
    ]
  ]
}


