{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Lopunny", "Mimilop", "Foofoo", "Clover", "Chocolate", "Cookie", "Cream", "Vanilla", "Peanut", "Hazelnut", "Fluffy", "Tibbers", "Jackal", "Melon", "Pepper", "Peppermint", "Fluffers", "Willow", "Peaches", "Nibbles", "Marshmallow", "Muffin", "Dutchess", "Daisy", "Carrot", "Integra", "Valentine", "Rip Van Winkle" ]
    ]
  ]
}


