{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie", "titleCase" : true },
      [ { "mode" : "markov", "source" : "orcanamale", "targetLength" : [4, 6] } ],
      [ { "mode" : "alts" }, "ius", "nus", "lius", "us", "elus", "icus", "cus", "tus", "tius", "rus", "arus", "ules" ]
    ]
  ]
}
