{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ "Aggy", "Biggy", "Blaggy", "Bloggy", "Boggy", "Braggy", "Cloggy", "Craggy", "Iggy", "Jaggy", "Jeggy", "Joggy", "Laggy", "Leggy", "Loggy", "Luggy", "Moggy", "Muggy", "Naggy", "Smaggy", "Snaggy", "Swaggy", "Waggy", "Wiggy", "Weggy", "Zaggy", "Ziggy" ]
    ]
  ]
}