{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ren", "Ran", "Kha", "Rha", "Jes", "Nes", "Nez", "Jas", "Eij", "Eik", "Hal", "Kal", "Ral", "Tal", "N", "K", "R", "Ein", "Nah", "Na", "Kaz", "Kas", "Eil", "Eit" ],
      [ { "mode" : "alts" }, "an", "un", "ali", "oli", "uli", "ami", "omi", "umi", "ani", "uni", "uno", "uko", "a", "i", "o", "ala", "aka", "ako", "aku", "yo", "yu", "ii"]
    ]
  ]
}