{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ram", "O", "Rap", "Mo", "Oba", "Tutan", "Den", "Tjer", "Dja", "Nem", "At", "Debo", "Zip", "Deb", "Bak"  ],
      [ { "mode" : "alts" }, "tet", "tut", "tep", "sut", "set", "ses", "stet", "shutset", "shetsut", "shatsut", "tum", "djib", "gar", "bastet", "siris", "khamun" ]
    ]
  ]
}