{
	"markov" : [
		{ "mode" : "serie", "titleCase" : true }, [
			{ "mode" : "markov", "source" : "felin", "targetLength" : [4, 7] }
		]
	],
	"male" : [
		{ "mode" : "serie" },
		[ { "mode" : "alts" },
			[ { "mode" : "alts" }, "A", "Ae", "Ah", "Ai", "E", "I", "Ja", "O", "U" ],
			[ { "mode" : "serie" },
				[ { "mode" : "alts" }, "B", "Ch", "F", "Fh", "Gr", "H", "Hr", "Ja", "K", "Kh", "L", "M", "Mr", "Rh", "S", "T", "Th", "V", "W" ],
				[ { "mode" : "alts" }, "a", "ae", "ah", "ai", "e", "i", "o", "u" ]
			]
		],
		[ { "mode" : "alts" },
			[ { "mode" : "serie" },
				[ { "mode" : "alts" }, "b", "ch", "f", "fh", "gr", "h", "hr", "ja", "k", "kh", "l", "m", "mr", "rh", "s", "t", "th", "v", "w" ],
				[ { "mode" : "alts" }, "a", "ae", "ah", "ai", "e", "i", "o", "u" ]
			],
			""
		],
		[ { "mode" : "alts" },
			"lir", "rth", "ler", "rith", "lair", "len", "rath", "rthir", "ron", "vren", "thin"
		]
	],
	"female" : [
		{ "mode" : "serie" },
		[ { "mode" : "alts" },
			[ { "mode" : "alts" }, "A", "Ae", "Ah", "Ai", "E", "I", "Ja", "O", "U" ],
			[ { "mode" : "serie" },
				[ { "mode" : "alts" }, "B", "Ch", "F", "Fh", "Gr", "H", "Hr", "Ja", "K", "Kh", "L", "M", "Mr", "Rh", "S", "T", "Th", "V", "W" ],
				[ { "mode" : "alts" }, "a", "ae", "ah", "ai", "e", "i", "o", "u" ]
			]
		],
		[ { "mode" : "alts" },
			[ { "mode" : "serie" },
				[ { "mode" : "alts" }, "b", "ch", "f", "fh", "gr", "h", "hr", "ja", "k", "kh", "l", "m", "mr", "rh", "s", "t", "th", "v", "w" ],
				[ { "mode" : "alts" }, "a", "ae", "ah", "ai", "e", "i", "o", "u" ]
			],
			""
		],
		[ { "mode" : "alts" },
			"rae", "ri", "mine", "rthi", "ne", "vra", "aie", "rith"
		]
	]
}