{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Cleo", "Cleopa", "Nyn", "Dja", "Nyu", "Nya", "Nem", "At", "Debo", "Zip", "A", "Akipo", "Thera", "Ha", "Hep", "Kip", "Azri" ],
      [ { "mode" : "alts" }, "tet", "tep", "tra", "thys", "tah", "defra", "rah", "phys", "thyris", "pha", "gar", "tepit", "tipet", "tetip" ]
    ]
  ]
}