{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Jack", "Jackie", "Jessie", "Foot", "Banjo", "Joey", "Hip", "Marloo", "Bruce", "Jacky", "Bilby", "Crikey", "Jump", "Sydney", "Brisbane", "Melbourne", "Perth", "Darwin", "Adelaide", "Hobart", "Canberra", "Macro", "Grey", "Red", "Bushle", "Ziggy", "Footloose", "Footrot", "Skipper", "Skippy", "Skip", "Kanga", "Joe", "Jet", "Logan", "Kix", "Kit", "Jasper", "Kasper", "Kaiser", "Wagga", "Kangu", "Basir", "Aussi", "Auz", "Code", "Flint", "Captain", "Zipper", "Diggy", "Trinity" ],
      [ { "mode" : "alts" }, " Jumper", " Kicker", " Jack", " Joey", "nipper", " Nipper", " Flats", " Tucker", " Eyes", "flyer", "diver", "killer", "fighter", " Paws", " Thumper", "feet", "Claw", " Ears", " Thumper", " Tail", " Paw", " Skipper", " Pouncer", " Bouncer", " Marloo", "gouger", " Kicker", " Boomer", " Flyer", " Paws", "Kangaru", " Dundee" ]
    ]
  ]
}
