{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Tea", "Chai", "Mocha", "Atole", "Caudle", "Posset", "Cocido", "Postum", "Sake", "Salep", "Bohea", "Congou", "Dianhong", "Kuding", "Oolong", "Qilan", "Rougui", "Panda", "Jasmine", "Dafang", "Doppio", "Latte", "Melya", "Pocillo", "Muerte", "Darjeeling", "Lapsang", "Assam Keemun", "Pu-erh", "Ceylon", "Osmanthus", "Peppermint", "Rooibos", "Camomile", "Latte", "Cortado", "Babyccino" ],
      [ { "mode" : "alts" }, " Spot", " Stripe", " Scroll", " Paisley", " Argyle", " Ogee", " Chevron", " Plaid", " Houndstooth", " Moroccan", " Gingham", " Polka", " Floral", " Damask", " Quarterfoil", " Basketweave", " Trellis", " Checker", " Aboriginal", " Ikat", " Scales", " Fret", " Palmette", " Lattice", " Cammo", " Vermicular", " Key", " Honeycomb", " Herringbone", " Seersucker", " Ticking", " Jacquard", " Filigree", " Arrow", " Chinoiserie", " Fret" ]
    ]
  ]
}