{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Y", "Mouse", "Quick", "Whisker", "Scrit", "Zen", "Hermit", "Track", "Tail", "Nyx", "Slick", "Muhnny", "Bait", "Food", "Snake", "Genet", "Raptor", "Cheese", "White", "Green", "Oolong", "Black", "Pu", "Erh", "Seeker", "Finder", "Scribe", "Keeper", "Light", "Secret", "Spark", "Blink" ],
      [ { "mode" : "alts" }, "-Y", "-Mouse", "-Quick", "-Whisker", "-Scrit", "-Zen", "-Hermit", "-Track", "-Tail", "-Nyx", "-Slick", "-Muhnny", "-Bait", "-Food", "-Snake", "-Genet", "-Raptor", "-Cheese", "-White", "-Green", "-Oolong", "-Black", "-Pu", "-Erh", "-Seeker", "-Finder", "-Scribe", "-Keeper", "-Light", "-Secret", "-Spark", "-Blink" ]
    ]
  ]
}