{
	"onShowSound": [
		"/sfx/objects/screen2.ogg"
	],
	"gui": {
		"background": {
			"zlevel": 0,
			"type": "background",
			"fileBody": "/interface/scripted/vsopopup2/blankBg.png"
		},
		"windowtitle": {
			"type": "title",
			"title": "",
			"subtitle": "",
			"icon": {
				"type": "image",
				"file": "/interface/crafting/lightSelected.png",
				"position": [0, 0],
				"zlevel": -1
			}
		},
		"frameLT" : {
		  "type" : "image",
		  "file" : "/interface/chatbubbles/cornerTopLeft.png",
		  "hAnchor": "left",
		  "vAnchor": "top",
		  "position" : [0, 0],
		  "zlevel" : -10
		},
		"frameTR" : {
		  "type" : "image",
		  "file" : "/interface/chatbubbles/cornerTopRight.png",
		  "hAnchor": "left",
		  "vAnchor": "top",
		  "position" : [0, 0],
		  "zlevel" : -10
		},
		"frameBL" : {
		  "type" : "image",
		  "file" : "/interface/chatbubbles/cornerBottomLeft.png",
		  "hAnchor": "left",
		  "vAnchor": "top",
		  "position" : [0, 0],
		  "zlevel" : -10
		},
		"frameBR" : {
		  "type" : "image",
		  "file" : "/interface/chatbubbles/cornerBottomRight.png",
		  "hAnchor": "left",
		  "vAnchor": "top",
		  "position" : [0, 0],
		  "zlevel" : -10
		},
		"frameC" : {
		  "type" : "image",
		  "file" : "/interface/scripted/vsopopup2/centerLong.png",
		  "hAnchor": "left",
		  "vAnchor": "top",
		  "position" : [0, 0],
		  "zlevel" : -10
		},
		"frameL" : {
		  "type" : "image",
		  "file" : "/interface/scripted/vsopopup2/sideLeftLong.png",
		  "hAnchor": "left",
		  "vAnchor": "top",
		  "position" : [0, 0],
		  "zlevel" : -10
		},
		"frameR" : {
		  "type" : "image",
		  "file" : "/interface/scripted/vsopopup2/sideRightLong.png",
		  "hAnchor": "left",
		  "vAnchor": "top",
		  "position" : [0, 0],
		  "zlevel" : -10
		},
		"frameT" : {
		  "type" : "image",
		  "file" : "/interface/scripted/vsopopup2/sideUpLong.png",
		  "hAnchor": "left",
		  "vAnchor": "top",
		  "position" : [0, 0],
		  "zlevel" : -10
		},
		"frameB" : {
		  "type" : "image",
		  "file" : "/interface/scripted/vsopopup2/sideDownLong.png",
		  "hAnchor": "left",
		  "vAnchor": "top",
		  "position" : [0, 0],
		  "zlevel" : -10
		},
		"framePoint" : {
		  "type" : "image",
		  "file" : "/interface/chatbubbles/point.png",
		  "hAnchor": "left",
		  "vAnchor": "top",
		  "position" : [0, 0],
		  "zlevel" : -10
		},
		"framePointL" : {
		  "type" : "image",
		  "file" : "/interface/scripted/vsopopup2/sideDownLong.png",
		  "hAnchor": "left",
		  "vAnchor": "top",
		  "position" : [0, 0],
		  "zlevel" : -10
		},
		"framePointR" : {
		  "type" : "image",
		  "file" : "/interface/scripted/vsopopup2/sideDownLong.png",
		  "hAnchor": "left",
		  "vAnchor": "top",
		  "position" : [0, 0],
		  "zlevel" : -10
		},
		
		"ok": {
			"type": "button",
			"base": "/interface/popup/acceptup.png",
			"hover": "/interface/popup/acceptover.png",
			"position": [108, 30],
			"caption": "Okay",
			"callback": "btnClicked"
		},
		"no": {
			"type": "button",
			"base": "/interface/popup/acceptup.png",
			"hover": "/interface/popup/acceptover.png",
			"position": [108, 30],
			"caption": "No",
			"callback": "btnClicked"
		},
		"message": {
			"type": "label",
			"position": [0, 0],
			"hAnchor": "left",
			"vAnchor": "top",
			"wrapWidth": 108,
			"lineSpacing": 1.0,
			"value": "",
			"color": "white"
		}
	},
	"scriptWidgetCallbacks": [
		"btnClicked"
	],

	"scripts": ["/interface/scripted/vsopopup2/vsopopup2gui.lua"],
	"scriptDelta": 10

}