{  
  "gui" : {
	  "panefeature" : {
		"type" : "panefeature"
	  },
	  "background" : {
		"type" : "background",
		"fileHeader" : "/interface/scripted/vsochoicelist/header_48.png",
		"fileBody" : "/interface/scripted/vsochoicelist/header_48.png",
		"fileFooter" : "/interface/scripted/vsochoicelist/footer_48.png"
	  },
    "windowtitle" : {
      "type" : "title",
      "icon" : {
        "type" : "image",
        "file" : "/interface/popup/warning.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    }
    ,"close" : {
		"callback": "buttonClickEvent",
      "type" : "button",
	  "hAnchor" : "left",
	  "vAnchor" : "top",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0]
    }
    ,"message" : {
      "type" : "label",
      "position" : [0, 0],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 100,
      "lineSpacing" : 1.0,
      "color" : "white",
	  "value" : ""
    }
	,"optionsLayout" : {
      "type" : "layout"
      ,"layoutType" : "basic"
      ,"rect" : [0, 0, 1, 1]
      ,"children" : {}
      ,"zlevel" : 3
	}
  }
  ,"scriptWidgetCallbacks" : [
	"buttonClickEvent"
  ],

  "scripts" : ["/interface/scripted/vsochoicelist/vsochoicelist.lua"],
  "scriptDelta" : 5
}