{
	"gui": {

		"background": {
			"zlevel": 0,
			"type": "background",
			"fileHeader": "/interface/scripted/vsoanimator/header.png",
			"fileBody": "/interface/scripted/vsoanimator/body.png",
			"fileFooter": "/interface/scripted/vsoanimator/footer.png"
		},

		"windowtitle": {
			"type": "title",
			"title": "VSO Animator",
			"subtitle": "",
			"icon": {
				"type": "image",
				"file": "/interface/scripted/vsoanimator/vsoanimatoricon.png",
				"zlevel": -1
			}
		},

		"testButton": {
			"type": "button",
			"position": [4, 216],
			"hAnchor": "left",
			"vAnchor": "top",
			"base": "/interface/blank.png",
			"hover": "/interface/blankhover.png",
			"pressed": "/interface/blank.png",
			"disabledImage": "/interface/beamno.png",
			"pressedOffset": [0, 0],
			"callback": "cbkTestButton"
		},

		"testButton2": {
			"type": "button",
			"position": [24, 216],
			"hAnchor": "left",
			"vAnchor": "top",
			"base": "/interface/blank.png",
			"hover": "/interface/blankhover.png",
			"pressed": "/interface/blank.png",
			"disabledImage": "/interface/beamno.png",
			"pressedOffset": [0, 0],
			"callback": "cbkTestButton2"
		},

		"testButton3": {
			"type": "button",
			"position": [44, 216],
			"hAnchor": "left",
			"vAnchor": "top",
			"base": "/interface/blank.png",
			"hover": "/interface/blankhover.png",
			"pressed": "/interface/blank.png",
			"disabledImage": "/interface/beamno.png",
			"pressedOffset": [0, 0],
			"callback": "cbkTestButton3"
		},

		"testLabel": {
			"type": "label",
			"position": [10, 100],
			"hAnchor": "left",
			"vAnchor": "top",
			"color": "white",
			"value": "X:"
		},


		"textAnimname": {
			"type": "label",
			"position": [4, 194],
			"hAnchor": "left",
			"vAnchor": "top",
			"color": "white",
			"value": "A: "
		},

		"textAnimStatename": {
			"type": "label",
			"position": [4, 184],
			"hAnchor": "left",
			"vAnchor": "top",
			"color": "white",
			"value": "S: "
		},

		"textTTname": {
			"type": "label",
			"position": [4, 174],
			"hAnchor": "left",
			"vAnchor": "top",
			"color": "white",
			"value": "T: "
		},

		"textX": {
			"type": "label",
			"position": [4, 164],
			"hAnchor": "left",
			"vAnchor": "top",
			"color": "white",
			"value": "x: "
		},
		"textY": {
			"type": "label",
			"position": [84, 164],
			"hAnchor": "left",
			"vAnchor": "top",
			"color": "white",
			"value": "y: "
		},

		"textR": {
			"type": "label",
			"position": [4, 154],
			"hAnchor": "left",
			"vAnchor": "top",
			"color": "white",
			"value": "r: "
		},
		"textF": {
			"type": "label",
			"position": [84, 154],
			"hAnchor": "left",
			"vAnchor": "top",
			"color": "white",
			"value": "f: "
		},

		"textPstand": {
			"type": "label",
			"position": [4, 144],
			"hAnchor": "left",
			"vAnchor": "top",
			"color": "white",
			"value": "Stand: "
		},
		"textPemote": {
			"type": "label",
			"position": [84, 144],
			"hAnchor": "left",
			"vAnchor": "top",
			"color": "white",
			"value": "Emote: "
		},
		"textPdance": {
			"type": "label",
			"position": [4, 134],
			"hAnchor": "left",
			"vAnchor": "top",
			"color": "white",
			"value": "Dance: "
		},


		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"pressed": "/interface/xpress.png",
			"hAnchor": "left",
			"vAnchor": "top",
			"pressedOffset": [0, 0],
			"position": [161, 244]
		}
	},

	"scriptWidgetCallbacks": [
		"cbkTestButton", "cbkTestButton2", "cbkTestButton3"
	],

	"scripts": ["/interface/scripted/vsoanimator/vsoanimatorgui.lua"],
	"scriptDelta": 1

}