{
	"gui": {

		"background": {
			"zlevel": 0,
			"type": "background",
			"fileHeader": "/interface/scripted/vsoanimator/header.png",
			"fileBody": "/interface/scripted/vsoanimator/body.png",
			"fileFooter": "/interface/scripted/vsoanimator/footer.png"
		},

		"windowtitle": {
			"type": "title",
			"title": "VSO Animator",
			"subtitle": "",
			"icon": {
				"type": "image",
				"file": "/interface/scripted/vsoanimator/vsoanimatoricon.png",
				"zlevel": -1
			}
		},

		"labelDivLounge": { "value": "Lounge State", "position": [88, 226], "type": "label", "hAnchor": "mid", "vAnchor": "bottom", "color": "gray" },
			
			"spinSeat" : { "type" : "spinner", "position" : [44, 216], "upOffset" : 120 },
			"spinStandPosition" : { "type" : "spinner", "position" : [44, 206], "upOffset" : 120 },
			"spinDance" : { "type" : "spinner", "position" : [44, 196], "upOffset" : 120 },
			"spinEmote" : { "type" : "spinner", "position" : [44, 186], "upOffset" : 120 },
			
			"valueSeat": { "value": "", "position": [54, 216],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"valueStand": { "value": "", "position": [54, 206],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"valueDance": { "value": "", "position": [54, 196],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"valueEmote": { "value": "", "position": [54, 186],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			
			"labelSeat": { "value": "Seat:", "position": [4, 216],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"labelStand": { "value": "Stand:", "position": [4, 206],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"labelDance": { "value": "Dance:", "position": [4, 196],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"labelEmote": { "value": "Emote:", "position": [4, 186],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			
		"labelDivAnim": { "value": "Animation State", "position": [88, 176], "type": "label", "hAnchor": "mid", "vAnchor": "bottom", "color": "gray" },
			
			"spinState" : { "type" : "spinner", "position" : [44, 166], "upOffset" : 120 },
			"spinAnim" : { "type" : "spinner", "position" : [44, 156], "upOffset" : 120 },
			
			"valueState": { "value": "", "position": [54, 166],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"valueAnim": { "value": "", "position": [54, 156],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"valueAnimTime": { "value": "", "position": [54, 146],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"valueAnimSpeed": { "value": "", "position": [151, 146],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			
			
			"labelState": { "value": "State:", "position": [4, 166],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"labelAnim": { "value": "Anim:", "position": [4, 156],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"labelAnimTime": { "value": "Time:", "position": [4, 146],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"labelAnimSpeed": { "value": "Speed:", "position": [121, 146],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			
		"labelDivTrans": { "value": "Transform", "position": [88, 136], "type": "label", "hAnchor": "mid", "vAnchor": "bottom", "color": "gray" },
			
			"spinTransform" : { "type" : "spinner", "position" : [44, 126], "upOffset" : 120 },
			"spinX" : { "type" : "spinner", "position" : [44, 116], "upOffset" : 60 },
			"spinY" : { "type" : "spinner", "position" : [44, 106], "upOffset" : 60 },
			"spinR" : { "type" : "spinner", "position" : [44, 96], "upOffset" : 60 },
			"spinSX" : { "type" : "spinner", "position" : [44, 86], "upOffset" : 60 },
			"spinSY" : { "type" : "spinner", "position" : [44, 76], "upOffset" : 60 },
			
			"valueTrans": { "value": "", "position": [54, 126],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"valueX": { "value": "", "position": [54, 116],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"valueY": { "value": "", "position": [54, 106],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"valueR": { "value": "", "position": [54, 96],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"valueSX": { "value": "", "position": [54, 86],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"valueSY": { "value": "", "position": [54, 76],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			
			"labelTrans": { "value": "Trans:", "position": [4, 126],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"labelX": { "value": "X:", "position": [4, 116],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"labelY": { "value": "Y:", "position": [4, 106],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"labelR": { "value": "R:", "position": [4, 96],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"labelSX": { "value": "SX:", "position": [4, 86],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"labelSY": { "value": "SY:", "position": [4, 76],"type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },

			"labelFx": { "value": "Fx:", "position": [131, 116], "type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"labelFy": { "value": "Fy:", "position": [131, 106], "type": "label", "hAnchor": "left", "vAnchor": "bottom", "color": "white" },
			"checkFx" : {
				"type" : "button",
				"pressedOffset" : [0, 0],
				"position" : [151, 116],
				"base" : "/interface/optionsmenu/checkboxnocheck.png",
				"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
				"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
				"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
				"checkable" : true,
				"checked" : false
			},
			"checkFy" : {
				"type" : "button",
				"pressedOffset" : [0, 0],
				"position" : [151, 106],
				"base" : "/interface/optionsmenu/checkboxnocheck.png",
				"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
				"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
				"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
				"checkable" : true,
				"checked" : false
			},
			
		"labelDivVict": { "value": "Victim Animation", "position": [88, 66], "type": "label", "hAnchor": "mid", "vAnchor": "bottom", "color": "gray" },
		
		"btnLog" : {
			"type" : "button",
			"position" : [4, 56],
			"base" : "/interface/chat/down.png",
			"hover" : "/interface/chat/downOver.png",
			"pressed": "/interface/chat/atbottom.png",
			"pressedOffset": [1, -1],
			"hAnchor": "left",
			"vAnchor": "top",
			"callback": "buttonPress"
		},

		"btnClearAnimationSeat" : {
			"type" : "button",
			"position" : [141, 226],
			"base" : "/interface/fuel/clearup.png",
			"hover" : "/interface/fuel/clearup.png",
			"pressed": "/interface/fuel/cleardown.png",
			"pressedOffset": [1, -1],
			"hAnchor": "left",
			"vAnchor": "top",
			"callback": "buttonPress"
		},
		
		"btnClearAnimationTimes" : {
			"type" : "button",
			"position" : [141, 176],
			"base" : "/interface/fuel/clearup.png",
			"hover" : "/interface/fuel/clearup.png",
			"pressed": "/interface/fuel/cleardown.png",
			"pressedOffset": [1, -1],
			"hAnchor": "left",
			"vAnchor": "top",
			"callback": "buttonPress"
		},

		"btnClearAnimationTransform" : {
			"type" : "button",
			"position" : [141, 136],
			"base" : "/interface/fuel/clearup.png",
			"hover" : "/interface/fuel/clearup.png",
			"pressed": "/interface/fuel/cleardown.png",
			"pressedOffset": [1, -1],
			"hAnchor": "left",
			"vAnchor": "top",
			"callback": "buttonPress"
		},
		
		"btnClearAll" : {
			"type" : "button",
			"position" : [141, 66],
			"base" : "/interface/fuel/clearup.png",
			"hover" : "/interface/fuel/clearup.png",
			"pressed": "/interface/fuel/cleardown.png",
			"pressedOffset": [1, -1],
			"hAnchor": "left",
			"vAnchor": "top",
			"callback": "buttonPress"
		},
		
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"pressed": "/interface/xpress.png",
			"hAnchor": "left",
			"vAnchor": "top",
			"pressedOffset": [0, 0],
			"position": [161, 244]
		}
	},

	"scriptWidgetCallbacks": [
		"checkFx"
		,"checkFy"
		,"buttonPress"
		,"spinSeat.up"
		,"spinSeat.down"
		,"spinStandPosition.up"
		,"spinStandPosition.down"
		,"spinDance.up"
		,"spinDance.down"
		,"spinEmote.up" 
		,"spinEmote.down" 
		,"spinState.up" 
		,"spinState.down" 
		,"spinAnim.up" 
		,"spinAnim.down" 
		,"spinTransform.up" 
		,"spinTransform.down"
		,"spinX.up" 
		,"spinX.down"
		,"spinY.up" 
		,"spinY.down" 
		,"spinR.up"
		,"spinR.down"
		,"spinSX.up"
		,"spinSX.down" 
		,"spinSY.up"
		,"spinSY.down"
	],

	"scripts": ["/interface/scripted/vsoanimator/vsoanimatorgui.lua"],
	"scriptDelta": 1

}